.input-year {
    display: inline-block;
}
  
.input-cvv {
    display: inline-block;
    margin-left: 5%;
}
  
.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
  
.control label,
.control select {
  display: block;
}
  
.control label {
  font-weight: bold;
  flex: 1;
  color: #222222;
  margin-bottom: 1rem;
}
  
.control select {
    flex: 3;
    font: inherit;
    padding: 0.4rem 0.4rem;
    border-radius: 7px;
    border: 1px solid #ccc;
}
  